<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings file="..\..\App.local.config">
    <!-- DB Setting-->
    <!--<add key="DBServer" value="52.7.206.108" />-->
    <add key="DBServer" value="rai2server.database.windows.net" />
    <!--<add key="DBServer" value="raigroup.database.windows.net" />-->
    <!--<add key="DBServer" value="CON-SQL\SQLEXPRESS" />-->
    <add key="DBSource" value="Rai" />
    <add key="DBUser" value="Superadmin" />
    <add key="DBPassword" value="p@$$p0rt" />
    <add key="IsEncrypted" value="false" />
    <add key="LogFilePath" value="C:\Test\" />
    <add key="LetterFilePath" value="C:\Temp\Letters\" />
    <add key="LetterPage1FilePath" value="C:\Temp\LetterPage1\" />
    <add key="ExcelReportFilePath" value="C:\Temp\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>